<nav class="navbar_index">
  <div class="logo_index">
    <img src="assets/recursos/pin.svg" alt="Icono Pin" class="pin-icon_index">
    <h1>CONOCE MI NEGOCIO</h1>
  </div>
  <ul class="nav-links_index">
    <li><a href="#inicio">Inicio</a></li>
    <li><a href="#contactanos">Contáctanos</a></li>
    <li><a href="#nosotros">Nosotros</a></li>
  </ul>
</nav>

<header id="inicio" class="hero_index">
  <div class="world-bg_index"></div>

  <div class="hero-content_index">
    <img src="assets/recursos/geotrade_log.png" alt="GeoTrade Logo" class="main-logo_index">

    <div class="pregunta-box_index">
      <strong><p>Descubre negocios cerca de ti en tiempo real....</p></strong>
    </div>

    <div class="hero-actions_index">
      <a routerLink="/login">
        <button type="button" class="btn-green_index">¡Comenzar!</button>
      </a>
    </div>
  </div>

  <img src="assets/recursos/nube.png" class="nube_index n1_index" alt="nube">
  <img src="assets/recursos/nube.png" class="nube_index n2_index" alt="nube">
  <img src="assets/recursos/nube.png" class="nube_index n3_index" alt="nube">
  <img src="assets/recursos/nube.png" class="nube_index n4_index" alt="nube">
</header>