<nav class="navbar_index">
  <div class="logo_index">
    <img src="assets/recursos/pin.svg" alt="Icono Pin" class="pin-icon_index">
    <h1>CONOCE MI NEGOCIO</h1>
  </div>

  <ul class="nav-links_index">
    <li><a routerLink="/">Inicio</a></li>
    <li><a routerLink="/contactanos">Contáctanos</a></li>
    <li><a routerLink="/nosotros">Nosotros</a></li>
  </ul>
</nav>


<section class="contact-section">

  <div class="contact-bg"></div>

  <div class="contact-content">

      <h2 class="contact-title">CONTÁCTANOS</h2>

      <p class="contact-text">
        Estamos aquí para ayudarte.<br>
        Si tienes dudas sobre GeoTrade comunícate con nosotros.
      </p>

      <hr class="contact-divider">

      <div class="contact-cards">

          <div class="contact-card">
              <div class="icon-circle">
                  <i class="bi bi-telephone-fill"></i>
              </div>

              <div class="contact-box">
                  556 772 8280
              </div>
          </div>


          <div class="contact-card">
              <div class="icon-circle">
                  <i class="bi bi-envelope-fill"></i>
              </div>

              <div class="contact-box email-box">
                  GeoTradeconoce@gmail.com
              </div>
          </div>


          <div class="contact-card">
              <div class="icon-circle">
                  <i class="bi bi-clock"></i>
              </div>

              <div class="contact-box">
                  Lunes a Viernes <br>
                  8:00 AM - 17:00 PM
              </div>
          </div>

      </div>

  </div>

</section>